.qor-dragable{
    .qor-dragable__list{
        margin: 0 0 24px 0;
        padding: 0;
        .sortable-ghost{
            background-color: unquote("rgba(#{$color-black}, 0.12)");
        }
        .material-icons{
            float: right;
            margin-left: 24px;
            color: unquote("rgba(#{$color-black}, 0.54)");
            &:hover{
                color: unquote("rgba(#{$color-black}, 1)");
            }
        }
        .qor-dragable__list-handle{
            cursor: move;
        }
        .qor-dragable__list-delete{
            cursor: pointer;
        }
        li{
            list-style: none;
            margin: 0;
            padding: 8px;
            border-bottom: 1px solid unquote("rgba(#{$color-black}, 0.12)");
            &:hover{
                background-color: unquote("rgba(#{$color-black}, 0.06)");
            }
        }
    }
    .chosen-container-multi .chosen-choices li.search-field input[type=text]{
        width: auto !important;
    }
}

.qor-sortable{
    .qor-fieldset{
        padding-top: 24px;
    }
    .qor-sortable__change{
        position: absolute;
        top: 12px;
        right: 42px;
    }
    .qor-sortable__button,.qor-sortable__button-move{
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
}
